/* Media Queries */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    .container {
        grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas pequeñas */
        padding: 10px;
    }

    .card {
        padding: 15px;
    }

    .project-image {
        max-width: 200px;
    }

    .side-menu {
        width: 200px; /* Menú más pequeño en pantallas móviles */
    }

    /* Menú lateral: cuando la pantalla es pequeña, el menú puede abrirse encima del contenido */
    .side-menu.open {
        left: 0;
    }

    .top-bar {
        padding: 10px;
    }

    .menu-icon {
        font-size: 1.5em;
    }

    .site-name {
        font-size: 1em;
    }

    /* Ajustes para la sección de contacto */
    .contact-section h2 {
        font-size: 1.3em;
    }

    .contact-section p {
        font-size: 0.9em;
    }

    footer {
        font-size: 0.8em;
    }

    /* Ajustes para la línea de tiempo y las parejas */
    .timeline {
        padding: 0 10px;
    }

    .timeline-line {
        width: 2px; /* Reducir el tamaño de la línea */
    }

    .pair {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    .text-container,
    .image-container {
        width: 100%; /* Ambos ocupan el 100% del ancho */
        padding: 10px;
        box-sizing: border-box;
    }

    .image-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .image {
        width: 48%; /* Asegura que las imágenes estén una al lado de la otra */
    }

    /* Ajuste de las imágenes */
    .project-image {
        height: 150px; /* Ajustamos el tamaño de las imágenes */
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.8em;
    }

    .site-name {
        font-size: 1em;
    }

    .contact-section h2 {
        font-size: 1.2em;
    }

    .contact-section p {
        font-size: 0.85em;
    }

    .card h2 {
        font-size: 1.2em;
    }

    .titulosProyectos h2 a {
        font-size: 1.2em;
    }

    .titulosProyectos p,
    .titulosProyectos ul {
        font-size: 0.9em;
    }

    /* Ajuste de la línea de tiempo */
    .timeline-line {
        width: 1px; /* Línea aún más delgada en pantallas pequeñas */
    }

    .pair {
        margin-bottom: 20px;
    }

    /* Ajuste de las imágenes */
    .project-image {
        height: 120px; /* Tamaño aún más pequeño en pantallas más pequeñas */
    }

    .image-container {
        padding: 5px;
    }

    .image-container {
        justify-content: space-between;
    }

    .image {
        width: 48%; /* Mantener las imágenes al lado de cada una */
    }
}
